*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: black;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10%;
}

svg{
    fill: #3c72cf;
}

button{
    border: none;
    cursor: pointer;
    border-radius: 0.5ch;
}

@media(width <= 60rem){
    #grid-container{
        margin: 0 5%;
    }
}

@media(width <= 48rem){
    #grid-container{
        margin: 0;
    }
}